* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{ color: whitesmoke;
    width: 450px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    background-color: rgb(235, 63, 0);
    border: 10px solid whitesmoke;
}

img{
    width: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.project{
    border: 10px solid whitesmoke;
    background-color: rgb(235, 63, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blanchedalmond;
    width: 450px;
    height: 450px;
    font-size: 17px;
    margin: auto;
    padding: 0%;
    bottom: auto;
}

.bottom{
    text-align: center;
}

input[type="submit"]{
    padding: 3px 6px;
    font-size: 15px;
    color: rgb(235, 63, 0);
    border: 1px solid rgb(235, 63, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: rgb(235, 63, 0);
    color: white;
    border: 2px solid white;
}


.askm{
    text-align: center;
}

body{background-color: beige;
}